extends ../layout/index
block contenido

    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Duis ullamcorper eleifend placerat. Nulla semper augue ut aliquam sagittis. Vivamus eget ultrices lectus. Praesent ac fringilla justo, eget finibus nulla. Donec sagittis dolor quam, id sagittis mauris ultricies at. Donec orci lacus, hendrerit aliquam pulvinar a, finibus quis velit. Aliquam vel massa cursus, mollis massa at, maximus est.
                p Nunc vel eros dui. Etiam sed magna ipsum. Proin cursus mi libero, ut venenatis ex auctor vel. Duis hendrerit rhoncus orci, non tempor massa sodales cursus. Vivamus tempor egestas nisl. Sed orci nulla, iaculis ac orci viverra, sollicitudin ultrices felis. Proin et dui euismod, posuere quam ac, facilisis nibh. Duis volutpat ullamcorper ipsum, eget mattis augue lacinia id. Vivamus rhoncus odio vitae porttitor laoreet.
                p Integer vulputate libero ut nisi tempus dignissim. Donec convallis tincidunt urna ut porta. Mauris neque ligula, congue eget iaculis ut, consectetur eu dui. Nam mollis finibus auctor.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin et dui euismod, posuere quam ac, facilisis nibh. Duis volutpat ullamcorper ipsum, eget mattis augue lacinia id. Vivamus rhoncus odio vitae porttitor laoreet.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Proin et dui euismod, posuere quam ac, facilisis nibh. Duis volutpat ullamcorper ipsum, eget mattis augue lacinia id. Vivamus rhoncus odio vitae porttitor laoreet.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Proin et dui euismod, posuere quam ac, facilisis nibh. Duis volutpat ullamcorper ipsum, eget mattis augue lacinia id. Vivamus rhoncus odio vitae porttitor laoreet.